/* Main container of timer item */
.timer-item {
    min-width: 10em;
    max-width: 30em;
    padding: 0.3em 0.7em 0.3em 0.7em;
    spacing: 1.2em;
}

.timer-label-container { /* Clickable timer name and time */
    padding: 0.3em 0.7em 0.3em 0.7em;
}

.timer-label-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
}

.timer-text {
    min-width: 3em;
    max-width: 20em;
    text-align: left;
    margin-right: 1em;
}

.timer-time {
    width: 4.5em;
    text-align: left;
}

.timer-icon {
    width: 1em;
    height: 1em;
}

.timer-icon:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 0.5em;
}

/* Paused state */
.timer-paused .timer-text,
.timer-paused .timer-time,
.timer-paused .timer-icon {
    color: grey;
}

/* Editing */
.name-entry, .timer-entry {
    padding-top: 0;
    padding-bottom: 0;
    height: 1.85em;
    padding-right: 0;
}

.name-entry {
    margin-right: 0.5em;
}

.timer-edit {
    padding: 0 0.7em 0 0;
}

/* Total time row */
/* Main wrapper */
.summary-row {
    color: lightgrey;
}

.summary-wrapper {
    spacing: 0.5em;
}

/* Left container (total time eye button and label) */
.left-container {
    spacing: 0.5em;
    /* Ensure it expands to take available space */
    flex: 1;
}

/* Right container (action buttons) */
.right-container {
    spacing: 1.2em;
    /* Align items to the end (right side) */
    justify-content: flex-end;
}

.workspace-indicator {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 2px 8px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 0.9em;
    font-weight: bold;
}
