.timer-icon {
    width: 1em;
    height: 1em;
    padding-right: 1em;
}

.timer-paused .timer-text,
.timer-paused .timer-time,
.timer-paused .timer-icon {
    color: grey;
}

.timer-text {
    min-width: 3em;
    max-width: 20em;
    text-align: left;
}

.timer-time {
    width: 4.5em;
    text-align: left;
}

.timer-item {
    min-width: 10em;
    max-width: 30em;
}

.summary-row {
    color: lightgrey;
}

.timer-label-container {
    padding-right: 10px;
}

.timer-label-container:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
}
